.table-row:hover{
  background-color: #F2F3F4 ;
  cursor: pointer;
}
.modal .form{
  overflow: scroll;
  overflow-x: hidden;
  height: 60vh;
}
.modal .photo{
  max-height: 60vh;
  width: 100%;
}


table img{
  max-height: 24px;
}
